<div class="row">
  <h1>Events List</h1>
  <canvas id="myChart" width="500" height="400"></canvas>

    <h1>Event Sources</h1>
  <% @events_eventtime.each do |e| %>
    <p><%= e.name %>
  <% end %>
  <h1>All Events</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Eventtime</th>
        <th>Ip address</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.eventtime %></td>
          <td><%= event.ip_address %></td>
          <td><%= link_to 'Show', event %></td>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>