<div class="row">
  
    <h1>Event Sources</h1>
    
  <% for event in @events  %>
  
  <t body>
    <tr>
      
      <td><%=h event.name %></td>
      <td><%=h event.ip_address %></td>
      <td><%= event.created_at.to_s(:short) %></td>
      
    </tr>
  </t body>

  <% end %>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.eventtime %></td>
          <td><%= event.ip_address %></td>

        </tr>
      <% end %>
    </tbody>

    <%= @events.group(:name).count %>
     <!-- Data for line graph data showing all events by day --> 
     
  <div id="value-data" class="hidden">
    <%= @events.count(group: "DATE(created_at)").values %>
  </div>
  


  </div>